.vs/
.vscode/
.VSCodeCounter/
out/
roms/*
*.eap
settings
!roms/PLACE_ROMS_HERE.txt

imgui.ini
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
